/*Colours for Reference
Pale Green: #EFF7F2
*/
/*Text Styling*/
h1 {
    font-family: "Patrick Hand";
    font-size: 30px;
    padding: 0px;
    margin: 10px;
}
p {
    font-family: Open Sans;
    font-size: 20px;
    
    margin: 0px;
    padding: 0;
}
.bold{
    font-weight: 600;
}
.bold a{
    text-decoration: none;
    color: #000;
}
.bold a:hover{
    text-decoration: none;
    color: #5FAC75;
}
h3{
    font-family: "Patrick Hand";
    font-size: 25px;
    padding: 0px;
    margin: 0px;
}

/*Body, Header and Footer Styling*/

body {
    background-color: #EFF7F2 ;
    margin: 50px 50px 0px 100px; 
}

header {
    display: flex;
}
.logo-image{
    width: 300px;
}
nav {
    
}
ul {
    list-style: none;
    display: flex;
    font-family: "Patrick Hand" ;
    font-size: 25pt;
}
li {
    padding: 10px;
    margin: 10px 25px 10px 25px ;
}
li a {
    text-decoration: none;
    color: #000;
}
li a:hover {
    text-decoration: none;
    color: #5FAC75;
}

.main-content {
    background-color: #fff;
    margin:  10px 300px 10px 300px;
    padding: 10px 50px 10px 50px;
    display: flex;
    flex-direction: column;  
}

.icon-home{
    width: 100px;
}
.home-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}


#about-home {
    border-bottom: solid 4px #E87E85;
}
.about-home-desc{
    display: flex;
    width: 100%;
    flex-flow: row;
    padding: 0px;
    margin: 0px;
    justify-content: space-around ;
}
.about-left {
    width: 350px;
    align-self: flex-start;
}
.about-right {
    align-self: flex-end;
    margin: 0px 0px 100px 0px;
}
.about-right-photo {
    width: 300px;
}

#offers{
    display: flex;
    flex-direction: column;
}
.individual-treatement{
    border: solid 5px #A0E1F7 ; 
    width: 300px;
    margin: 10;
    height: auto;
    padding: 10px;
}
.offers-list{
    align-content: space-around;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#therapist-home {
    border-bottom: solid 4px #7A5F93;
}
.individual-therapists{
    display: flex;
    flex-direction: column;
    border: solid 5px #7A5F93 ; 
    margin: 10;
    height: auto;
    padding: 10px;
}
.therapists-desc{
    display: flex;
}
.therapists-photo{
    width: 300px;
}
.indiv-right{
    width: 400px
}
#therapies-home {
    border-bottom: solid 4px #A0E1F7;
}

.contact-form{
    display: flex;
    flex-direction: column;
    width: 750px;
    flex-wrap: wrap;
}
.contact-info{
    padding: 0px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.contact-width{
    width: 200px;
    margin: 10;
}
.contact-address{
    padding: 0px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.address-width{
    width: 600px;
    margin: 10;
}

.state-width{
    width: 300px;
    margin: 10;
}

.contact-message {
    padding: 0px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.contact-message-width{
    width: 100%;
    height: 100px;
    margin: 10;
}

.submit-button{
    font-family: "Patrick Hand";
    font-size: 40px;
    width: 200px;
    border: solid 4px #E87E85;
    background-color: #fff;
}



